<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/cleaner.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>TodoList</title>
</head>

<body>
    <img src="./img/blup-1.svg" alt="" class="blup blup-1" id="move-element1">
    <img src="./img/blup-2.svg" alt="" class="blup blup-2" id="move-element2">
    <img src="./img/blup-3.svg" alt="" class="blup blup-3" id="move-element3">
    <div class="bg-section" id="bg-app" @mousemove="checkMousePosition()">
        <img src="./img/main-image.svg" alt="">
    </div>
    <div class="notes-section" id="todo-app">
        <div class="notes__user-section">
            <div class="notes__user__data-section">
                <h2 class="notes__user__data-name" id="username" @dblclick="editUserName()" v-if="!inputNameActive">
                    {{user.name}}'s</h2>

                <!-- <label for="username" class="notes__user__data-label" v-if="inputNameActive">Name</label> -->
                <input type="text" class="notes__user__name-input" :value="user.name" v-if="inputNameActive"
                    id="userNameInput" @keyup.enter="updateUserName">
                <h1 class="notes__user__data-title">Todo List</h1>
            </div>
            <div class="notes__user__img-section">
                <img :src="user.image" alt="">
            </div>
        </div>
        <div class="notes__todos-section">
            <div class="notes__todo-item" v-if="!todo.completed" v-for="todo in todos">
                <div class="notes__todo__info-section">
                    <div class="notes__todo__icon">
                        <div class="todo-icon" @click="checkDoneTodo(todo)">
                        </div>
                    </div>
                    <div class="notes__todo__text-section" @click="checkDoneTodo(todo)">
                        <p class="notes__todo__text">{{ todo.text }}</p>
                    </div>
                </div>
                <div class="notes__todo__cancel-section" @click="removeTodo(todo)">
                    <img src="./img/cancel icon.svg" alt="">
                </div>
            </div>
            <div class="notes__todo-item notes__todo-item--done" v-if="todo.completed" v-for="todo in todos">
                <div class="notes__todo__info-section">
                    <div class="notes__todo__icon">
                        <img src="./img/done icon.svg" alt="" @click="checkDoneTodo(todo)">
                    </div>
                    <div class="notes__todo__text-section" @click="checkDoneTodo(todo)">
                        <p class="notes__todo__text">{{ todo.text }}</p>
                    </div>
                </div>
                <div class="notes__todo__cancel-section" @click="removeTodo(todo)">
                    <img src="./img/cancel icon.svg" alt="">
                </div>
            </div>

        </div>
        <div class="notes__add-todos-section">
            <div class="notes__add-todos__input-section">
                <input type="text" class="notes__add-todos__input" id="inputNewTodo" v-if="inputActive"
                    @keyup.enter="readInputValue()">
            </div>
            <div class="notes__add-todos__button-section">
                <button class="notes__add-todos__button" @click="setInputActive" v-if="!btnActive"><img
                        src="./img/add new icon.svg" alt=""></button>
                <button class="notes__add-todos__button notes__add-todos__button--pink" v-if="btnActive"
                    @click="readInputValue"><img src="./img/add new icon.svg" alt=""></button>
            </div>

        </div>
    </div>
</body>

</html>