:root {
  --mt-main-bg-color: #fefdfc;
  --mt-notepad-bg-color: #fefcfb;

  --mt-clear-yellow: #f3cd9e;
  --mt-clear-darker-yellow: #eeb876;
  --mt-main-yellow: #e7993b;
  --mt-main-hoover-yellow: #9e5c0d;
  --mt-main-active-yellow: #8a510c;
  --mt-secondary-pink: #f1afb5;
  --mt-main-text-gray: #484848;
  --mt-main-text-disabled-gray: #949494;
  --mt-transparent-gray: #4848489c;

  --mt-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  --mt-transition: all 250ms ease-in-out;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--mt-main-text-gray);
  font-size: 12px;
}

body {
  background-color: var(--mt-main-bg-color);
  color: var(--mt-main-text-gray);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.bg-section {
  width: calc(100% / 12 * 8);
}

/* ------------------ NOTES SECTION ------------------ */
.notes-section {
  background-color: var(--mt-notepad-bg-color);
  border-radius: 10px 0px 0px 10px;
  box-shadow: var(--mt-shadow);
  width: calc(100% / 12 * 4);
  height: 90vh;
}

.notes__user-section {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid var(--mt-secondary-pink);
}

.notes__user__data-section {
  text-align: right;
}
.notes__user__data-name {
  font-size: 2.617rem;
}
.notes__user__data-title {
  font-size: 1.618rem;
  font-weight: 400;
}
.notes__user__img-section {
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.notes__user__img-section img {
  width: 100%;
  height: 100%;
}

.notes__todos-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------------------- to do item --------------- */
.notes__todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--mt-clear-yellow);
}
.notes__todo-item:last-child {
  border-bottom: none;
}
.notes__todo-item:hover .notes__todo__cancel-section {
  opacity: 1;
}
.notes__todo__info-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.todo-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--mt-clear-yellow);
  transition: var(--mt-transition);
  background-color: transparent;
}
.todo-icon:hover {
  background-color: var(--mt-clear-yellow);
}
.notes__todo__text {
  font-size: 1.618rem;
}
.notes__todo__cancel-section {
  transition: var(--mt-transition);
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
}
.notes__todo__cancel-section:hover {
  background-color: var(--mt-transparent-gray);
}
/* ------------------- /to do item --------------- */

/* ------------------ / NOTES SECTION ------------------ */
