:root {
  --mt-main-bg-color: #fefdfc;
  --mt-notepad-bg-color: #fefcfb;

  --mt-clear-yellow: #f3cd9e;
  --mt-clear-darker-yellow: #eeb876;
  --mt-main-yellow: #e7993b;
  --mt-main-hoover-yellow: #e28413;
  --mt-main-active-yellow: #9e5c0d;
  --mt-main-pink: #e45d6a;
  --mt-main-hoover-pink: #de3c4b;
  --mt-main-active-pink: #9b2a35;

  --mt-clear-pink: #f1afb5;
  --mt-main-text-gray: #484848;
  --mt-main-text-disabled-gray: #949494;
  --mt-transparent-gray: #4848489c;

  --mt-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  --mt-transition: all 250ms ease-in-out;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--mt-main-text-gray);
  font-size: 12px;
}

body {
  background-color: var(--mt-main-bg-color);
  color: var(--mt-main-text-gray);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.bg-section {
  width: calc(100% / 12 * 8);
}

/* ------------------ BG SECTION ----------------- */
.bg-section {
  background-color: var(--mt-main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-section img {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 10px;
  z-index: 5;
}

.blup {
  z-index: 2;
  position: absolute;
  transition: all 250ms linear;
}
.blup-1 {
  top: -20%;
  left: -10%;
}
.blup-2 {
  top: 2%;
  left: 20%;
}
.blup-3 {
  top: 26%;
  left: 2%;
  z-index: 1;
}
/* ------------------ / BG SECTION ----------------- */

/* ------------------ NOTES SECTION ------------------ */
.notes-section {
  background-color: var(--mt-notepad-bg-color);
  border-radius: 10px 0px 0px 10px;
  box-shadow: var(--mt-shadow);
  width: calc(100% / 12 * 4);
  min-width: 500px;
  height: 90vh;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.notes__user-section {
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid var(--mt-clear-pink);
}

.notes__user__data-section {
  text-align: right;
}
.notes__user__data-name {
  font-size: 2.617rem;
}
.notes__user__name-input {
  width: 50%;
  border: none;
  background-color: transparent;
  color: var(--mt-main-text-gray);
  font-size: 2.617rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: end;
}
.notes__user__data-title {
  font-size: 1.618rem;
  font-weight: 400;
}
.notes__user__img-section {
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}
.notes__user__img-section img {
  width: 100%;
  height: 100%;
}

.notes__todos-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------------------- to do item --------------- */
.notes__todos-section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  overflow: auto;
  justify-content: flex-start;
  padding-bottom: 10%;
}
.notes__todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--mt-clear-yellow);
  cursor: pointer;
}
.notes__todo-item:last-child {
  border-bottom: none;
}
.notes__todo-item:hover .notes__todo__cancel-section {
  opacity: 1;
}
.notes__todo__info-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.todo-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--mt-clear-yellow);
  transition: var(--mt-transition);
  background-color: transparent;
  cursor: pointer;
}
.todo-icon:hover {
  background-color: var(--mt-clear-yellow);
}
.notes__todo__text {
  font-size: 1.618rem;
}
.notes__todo__cancel-section {
  transition: var(--mt-transition);
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
}
.notes__todo__cancel-section:hover {
  background-color: var(--mt-transparent-gray);
}

/* ---------- DONE TODO ------------- */
.notes__todo-item--done p {
  color: var(--mt-main-text-disabled-gray);
  text-decoration: line-through;
}
/* ---------- / DONE TODO ------------- */
/* ------------------- /to do item --------------- */

.notes__add-todos-section {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 20px;
}
.notes__add-todos__input-section {
  width: 100%;
}
.notes__add-todos__input {
  width: 100%;
  border-radius: 25px;
  height: 45px;
  padding: 20px;
  border: 1px solid var(--mt-clear-pink);
  background-color: var(--mt-notepad-bg-color);
  outline: none;
  font-size: 1.618rem;
  color: var(--mt-main-text-gray);
  /* transition: var(--mt-transition); */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  transform: translate(120%, 0);
  transform: scaleX(0);
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.notes__add-todos__button {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: var(--mt-transition);
  background-color: var(--mt-main-yellow);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.notes__add-todos__button img {
  width: 40px;
  height: 40px;
}
.notes__add-todos__button:hover {
  background-color: var(--mt-main-hoover-yellow);
}
.notes__add-todos__button:active {
  background-color: var(--mt-main-active-yellow);
}
.notes__add-todos__button--pink {
  background-color: var(--mt-main-pink);
}
.notes__add-todos__button--pink:hover {
  background-color: var(--mt-main-hoover-pink);
}
.notes__add-todos__button--pink:active {
  background-color: var(--mt-main-active-pink);
}
/* ------------------ / NOTES SECTION ------------------ */

/* Animations */

@keyframes scale-up-hor-right {
  0% {
    transform: translate(120%, 0);
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    transform: translate(0, 0);

    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

/* / Animations */
